# ===
# Vim
# ===

*.vim
*.sw[op]

# ======
# Python
# ======

# cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# C extensions
*.so
*.o

# Build
.mesonpy-*

# Distribution
bin/
build/
develop-eggs/
dist/
eggs/
sdist/
tmp/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/build/

# Lint
.ruff_cache/
