global-include *.pyx
global-include *.pxd
global-include *.pxi
global-include *.h
global-include *.cpp
global-include *.cu

global-exclude *.py[cod] __pycache__
global-exclude *.so *.dll *.dylib
global-exclude *.o
global-exclude *.swp

recursive-include imate *.rst
recursive-include scripts *.sh

include CHANGELOG.rst
include README.rst
include AUTHORS.txt
include LICENSE.txt
include requirements.txt
include requirements_plot.txt
include pyproject.toml

exclude tox.ini
exclude environment.yml
exclude TODO.rst
exclude .cirrus.star
exclude .coverage
exclude .coveragerc
exclude .gitattributes
exclude .dockerignore
exclude .tokeignore

prune docs
prune tmp
prune conda-recipe
prune benchmark
prune docker
prune notebooks
prune examples
prune tests
prune tools
prune .git
prune .github
prune .tox
