/* .wy-nav-content { */
/*     max-width: 70% !important; */
/* } */

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

/* Code block colors */
.highlight {
    background: #eeffcc;
}

/* Highlighted lines in code blocks */
.highlight .hll {
    background-color: #e8e8e8;
}
