sphinx
sphinx-math-dollar
sphinx-toggleprompt<0.4
pydata_sphinx_theme==0.9.0
graphviz
sphinx-automodapi
numpydoc
nbsphinx
sphinx_design
sphinx-multitoc-numbering
pandoc
sphinx-prompt
sphinx-copybutton
sphinx-gallery
sphinxext-opengraph
scipy
