name: build-macos

on:
    push:
        branches:
            - main
    release:
        types: 
            - published
    
jobs:
    build:

        runs-on: macos-latest
        strategy:
            fail-fast: false
            matrix:
                python-version: ['3.6', '3.7', '3.8', '3.9']

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install prerequisites
              run: |
                  brew install suite-sparse
                  brew install libomp

                  # This is needed to import numpy in pypy3 (but not needed for
                  # pypy2 and CPython)
                  # brew install openblas
                  # OPENBLAS="$(brew --prefix openblas)"
                  # brew install lapack
                  # pip3 install numpy
                  
            # - name: Install CUDA
            #   uses: Jimver/cuda-toolkit@v0.2.1
            #   id: cuda-toolkit
            #   with:
            #       cuda: '11.2.2'

            - name: Install package and dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install --upgrade numpy
                  python -m pip install --upgrade .[extra]
              # env:
              #     USE_CUDA: 1

            - name: Test
              run: |
                  python -m pip install --upgrade pytest
                  python -m pip install --upgrade pytest-cov
                  mv imate imate-DoNotImport
                  pytest

            - name: Coverage
              run: |
                  python -m pip install codecov
                  codecov
