name: docs

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Build and Deploy
              uses: JacksonMaxfield/github-pages-deploy-action-python@master
              env:
                  ACCESS_TOKEN: ${{ secrets.TRACEINV_DOCS }}
                  BASE_BRANCH: main
                  BRANCH: gh-pages
                  FOLDER: docs/_build/html
                  BUILD_SCRIPT: |
                      apt-get update
                      apt-get install graphviz -y
                      pip install --upgrade pip
                      pip install .[docs]
                      export PATH=$HOME/.local/bin:$PATH
                      sphinx-apidoc -f -o docs/_modules/ ./TraceInv
                      python setup.py build_sphinx
                      touch docs/_build/html/.nojekyll
                      echo 'Visit [Documentation](https://ameli.github.io/TraceInv/index.html).' > docs/_build/html/README.md

