name: deploy-conda

on:
    push:
        branches:
            - main
    release:
        types: [published]
    
jobs:
    publish:
        runs-on: ubuntu-latest
        name: Publish to Conda
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: publish-to-conda
              uses: fcakyon/conda-publish-action@v1.3
              with:
                  subdir: 'conda'
                  anacondatoken: ${{ secrets.ANACONDA_TOKEN }}
                  platforms: 'win osx linux'
